body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

#menu.hidden {
    transform: translateX(-100%);
}

#back-button {
    margin-bottom: 20px;
}

#content {
    padding: 20px;
}
body {
    background-image: url('../Neuer Ordner/cover.png');
    background-size: cover; /* Hintergrundbild auf gesamte Seite skalieren */
    background-position: center; /* Bild zentrieren */
}
